
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    padding: 0 100px;
}

.logo-container img {
    height: 60px;
    width: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin-right: 30px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #fff;
    background-color: #000;
    font-size: 1.08rem;
    padding: 5px;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    top: 50px;
    background-image: url("/inicio/fondo.jpg");
 
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .banner-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 50px;
    text-align: center;
    color: #fff;
  }
  
  .banner-left h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    background-color: #2b2b2b;

    padding: 30px;
  }
  
  .banner-left p {
    font-size: 1.5rem;
    margin-bottom: 40px;
    background-color: #ffffff;
    color: #000;
    transition: background-color 0.5s ease-in-out;
  }
  
  .banner-left p:hover {
    background-color: #cccccc;
  }
  
  .banner-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #555;
  }


  .new-products {
    margin-top: 10px;
    text-align: center;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 100px;
  }
  
  .product-item {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    height: 70%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .product-item img {
    width: auto;
    height: 40%;
    transition: all 0.3s ease-out;
  }
  
  .product-item:hover img {
    transform: scale(1.2);
  }
  
  .product-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.35s ease-in-out;
  }
  
  .product-item:hover .product-info {
    opacity: 1;
  }
  
  .product-info h3 {
    font-size: 30px;
    margin-bottom: 10px;
    filter: invert();
  }
  
  .product-info p {
    font-size: 16px;
    margin-bottom: 20px;
  }








  h2 {
    text-align: center;
    margin-top: 250px;
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
  }
  
  h2::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
  }
  
  h2:hover::before {
    width: 100%;
  }