
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    padding: 0 100px;
}

.logo-container img {
    height: 60px;
    width: auto;
    
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin-right: 30px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #fff;
    background-color: #000;
    font-size: 1.05rem;
    border-radius: 50px;
    padding: 5px;
    transition: all 0.3s ease;
  }
  .product-card {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

  }
  
  /* Estilos de la sección de imágenes */
  .product-images {
    flex: 1;
    margin-right: 20px;
    position: relative;
  }
  
  .image-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  .image-list li {
    display: none;
  }
  
  .image-list li:first-child {
    display: block;
  }
  
  .product-images img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 200px;
    margin-left: 20%;
    padding: 30px;
  }
  
  .image-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  
  .prev-image-btn,
  .next-image-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .prev-image-btn:hover,
  .next-image-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev-image-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px 0 0 5px;
  }
  
  .next-image-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 5px 5px 0;
  }
  
  /* Estilos de la sección de información del producto */
  .product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-info h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .product-info p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .add-to-cart-btn {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: auto;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0062cc;
  }
  
  .back-to-products-btn {
    background-color: #ccc;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 10px;
  }
  
  .back-to-products-btn:hover {
    background-color: #999;
  }